body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.login-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.top-bar {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 40px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.top-logo {
    max-height: 80px;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 100px;
}

.login-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 0px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.login-form-container {
    flex: 1;
    max-width: 600px;
    margin-right: 100px;
    margin-top: 0px;
}

.login-slider-container {
    flex: 1;
    max-width: 400px;
    height: 600px;
}

.login-form {
    width: 100%;
}

.login-form input {
    width: 100%;
    margin-top: 10px;
    padding: 9px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    padding-right: 40px; /* Adjust the padding to make room for the icon */
}

.password-toggle-icon {
    position: absolute;
    top: 74%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
}

.btn.orange-btn {
    background-color: #FF914D;
    color: white;
}

.login-form button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-slider-container img {
    width: 100%;
    height: 570px;
    object-fit: cover;
    border-radius: 20px;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me input {
    margin-right: 5px;
    width: 20px;
    height: 18px;
}

.remember-me label {
height: 15px;
}



.forgot-password {
    color: #FF914D;
    text-decoration: none;
    cursor: pointer;
}

.forgot-password:hover {
    text-decoration: underline;
}

.signup-link {
    margin-top: 20px;
    text-align: center;
    font-size: 1rem;
}

.signup-link a {
    color: #FF914D;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.separator {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.separator .line {
    flex: 1;
    height: 1px;
    background-color: #ccc;
}

.separator .or-text {
    margin: 0 10px;
    color: #999;
}

.social-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.facebook-btn {
    width: 48%;
}

.google-btn {
    width: 48%;
}