body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.login-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.top-bar {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 40px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.top-logo {
    max-height: 80px;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 100px;
}

.login-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 0px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.login-form-container {
    flex: 1;
    max-width: 600px;
    margin-right: 100px;
    margin-top: -200px;
}

.login-slider-container {
    flex: 1;
    max-width: 600px;
}

.login-form {
    width: 100%;
}

.login-form input {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-slider-container img {
    width: 90%; /* Adjusted width to be responsive */
    height: 600px; /* Fixed height */
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
    border-radius: 20px;
}
