/* Custom card styles */
.custom-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.custom-card-img {
    height: 180px;
    object-fit: cover;
}

/* Modal styles */
.modal-content {
    border-radius: 8px;
    padding: 20px;
}

.modal-body-content {
    display: flex;
    align-items: center;
}

.modal-img {
    max-width: 40%;
    border-radius: 8px;
    margin-right: 20px;
}

.modal-description {
    flex: 1;
}

.nutritional-info {
    margin-top: 20px;
}

.info-item {
    margin-bottom: 10px;
}

.info-item h6 {
    margin: 0;
    font-weight: 600;
}

.info-item p {
    margin: 0;
}