.custom-card {
    position: relative;
    margin-bottom: 20px;
}

.custom-card-img {
    width: 100%;
    height: auto;
}

.card-body {
    text-align: center;
}

.card-body .d-flex {
    margin-top: 10px;
}

.card-body .d-flex div {
    text-align: center;
    width: 25%;
}

.card-title {
    font-size: 1.25rem;
}

.card-text {
    font-size: 1rem;
    color: #555;
}
